body{
    height: 100dvh;
    margin: 0;
    background: linear-gradient(to bottom, #E3F2FD, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    box-sizing: border-box;
    width: 300px;
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 10px 20px;
    font-size: 12px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;

    & input{
        background-color: #fff;
        border: 1px solid #c0c0c0;
        color: #333;
        padding: 5px 10px;
        outline: none;
        font-size: 8px;
    }

    & input:focus{
        border-color: #000;
    }

    & p{
        margin: 0;
        font-size: 8px;
        color: #f00;
        margin-top: 3px;
    }
}

.button-container{
    display: flex;
    justify-content: center;

    & button{
        background-color: #1e90ff;
        color: #fff;
        border: none;
        margin-bottom: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    & button:hover{
        background-color: #1565c0;
    }
}