h3{
    margin: 0;
}

.main-container{
    box-sizing: border-box;
    width: 60%;
    flex: 1;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    overflow-y: auto;
}

.main-header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    color: #4a90e2;
    font-size: 24px;
}

.task-container{
    box-sizing: border-box;
    flex: 1;
    padding: 5px 10px;
    overflow-y: auto;
}

.task{
    padding: 4px 8px;
    border: 1px solid #d6d6d6;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

    & p{
        margin: 6px 0;
    }
}

.task-header{
    display: flex;
    justify-content: space-between;
}

.task-img{
    width: 24px;
}

.option{
    width: 170px;
    text-decoration: none;
    background-color: #50c878;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.option span{
    margin-right: 3px;
}

.option:hover{
    filter: brightness(0.9);
}

.detail{
    display: flex;
}

.btn-detail{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #50C878;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 3px;
}

.btn-detail:hover{
    filter: brightness(0.9);
}


/* PERSONALIZANDO EL SCROLL DEL TASK-CONTAINER*/
.task-container::-webkit-scrollbar{
    width: 8px;
}

.task-container::-webkit-scrollbar-thumb {
    background: #4A90E2;
    border-radius: 10px; 
    border: 2px solid #FFFFFF; 
}

.task-container::-webkit-scrollbar-thumb:hover {
    background: #357ABD; 
}


/* MEDIA QUERIES */
@media (max-width: 600px){
    .main-container{
        width: 90%;
    }
}