body{
    background: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
    height: 100dvh;
}

h1{
    margin: 20px 0;
    text-align: center;
    color: #37474f;
}

form{
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #dadada;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    & textarea{
        background-color: #fff;
        border: 1px solid #b0bec5;
        color: #333;
        resize: none;
        width: 90%;
        height: 100px;
        outline: none;
        font-family: inherit;
    }

    & textarea:focus{
        border-color: #222;
    }

    & p{
        margin-top: 5px;
        color: #f00;
        font-size: 10px;
    }

    & button{
        background-color: #1e90ff;
        color: #fff;
        border: none;
        margin-top: 8px;
        padding: 5px 10px;
        border-radius: 6px;
        cursor: pointer;
    }

    & button:hover{
        background-color: #00c;
    }
}

.error-authenticated{
    width: 300px;
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}