{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="form-container">
        <form method="POST" class="form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field }}

                    <!--
                    De esta manera se puede obtener los errores del field
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="field-error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}-->
                </div>
            {% endfor %}
            <button type="submit" class="btn">Ingresar</button>

            {% if messages %}
                {% for message in messages%}
                    <p class="alert-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <section class="register-container">
                <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
            </section>
        </form>
    </div>
</body>
</html>

